doctype html
html
	title
		logowanie
	body
		div.form
			h1 Logowanie
			div
				label Login
				input
			div
				label Password
				input
			div
				input(type='submit' value='Log in')
			
			//button(href= url) Log in