doctype html
html
	title
		logowanie
	body
		div
			h1 Logowanie
			form(action='http://localhost:4000/logged', method= 'GET')
				div
					label Login
					input
				div
					label Password
					input
				div
					input(type='submit' value='Log in')
			
				//button(href= url) Log in